@model IvanRetoCurso.Models.EmpleadoViewModel
@{
    ViewBag.Title = "Eliminar";
}

<style>
    .row {
        margin-top: 1rem;
    }
</style>

<h1>Dar de baja Empleado</h1>
<br />

@using (Html.BeginForm("DarDeBaja", "Home", FormMethod.Post))
{
<h2>¿Seguro que desea dar de baja/alta el empleado?</h2>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CreationDate)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.LastName)
    @Html.HiddenFor(m => m.Birthday)
    @Html.HiddenFor(m => m.RFC)
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.PhoneNumber)
    @Html.HiddenFor(m => m.PositionId)
    @Html.HiddenFor(m => m.IsDeleted)


    <div class="col-md-10" style="text-align:left">
        <input type="submit" value="Aceptar" class="btn btn-success" />
    </div>
    <br />
}